@model GitCandy.Models.TagsModel

@{
    ViewBag.Title = String.Format(SR.Shared_TitleFormat, String.Format(SR.Repository_TagsTitle, Model.Name));
}

<h4>
    @String.Format(SR.Repository_TagsTitle, "")     @await Html.PartialAsync("_RepositoryLink", Model)
</h4>

<div class="col-md-6">
    @if (Model.HasTags)
    {
        foreach (var tag in Model.Tags)
        {
            <div class="row border-area">
                <div class="pull-right">
                    @await Html.PartialAsync("_ZipButton", tag.ReferenceName)
                    @if (Model.CanDelete)
                    { <a class="btn btn-default" data-tag="@tag.ReferenceName" href="#">@SR.Shared_Delete</a>}
                </div>
                <div>@Html.ActionLink(tag.ReferenceName, "Tree", new { path = tag.ReferenceName ?? tag.Sha })</div>
                <div title="@tag.When">@tag.When.LocalDateTime.ToFullString()</div>
                <div>@tag.MessageShort</div>
                <div>@Html.ActionLink(tag.Sha, "Commit", new { path = tag.ReferenceName ?? tag.Sha })</div>
            </div>
        }
    }
    else
    {
        <div>@SR.Repository_NoTags</div>
    }
</div>

<script type="text/javascript">
    var deleteTag_params = {
        words: '@Html.Raw(SR.Repository_TagDeletionWords)',
        url: '@Url.Action("Tags", "Repository")'
    };
</script>
